@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*, *:before, *:after { 
  box-sizing: border-box;
 }
* {
  padding: 0;
  margin: 0;
  border: 0;
}
nav, footer, header, aside, section, figure {
  display: block;
}
html, body {  
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-size: 100%;
  line-height: 1; 
}
.container {
  max-width: 1440px;
  margin: 0 auto;  
  padding-left: 15px;
  padding-right: 15px;
}
header {
  background: linear-gradient(45deg, rgb(173, 228, 173), rgb(60, 115, 60)); 
}
.header-wrapper {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list {
  display: flex; 
  align-items: center;
  list-style: none;
}
.nav-link {
  padding-right: 15px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
.section-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  padding: 15px;
  border-bottom: 5px solid rgb(60, 115, 60);
}
.section-profile__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.section-profile__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.header__title {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 15px;
}
.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 25px;
}
.section {
  width: 50%;
  padding: 15px;
  border-bottom: 2px solid rgb(60, 115, 60);  
}
.section-list  li {
  list-style-type: disc;
  margin-bottom: 5px;
}
.section h4 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-rrs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;  
}
.footer_logo {
  width: 100px;
  height: 100px;
}
.footer-githublink{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px; 
}
.footer-githublink a {
  margin-bottom: 10px;
}